<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Dashboard Admin</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" routerLink="/">Back To Website</a>
      </li>
    </ul>
  </nav>
  
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/admin">
                <i class="fa fa-tachometer-alt mr-2" ></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/add">
                <i class="fa fa-th mr-2"></i>
                Add User
              </a>
            </li>
            
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Add User</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>
        </div>
        <form #myForm="ngForm" class="form-v2">
          <input
            type="text"
            class="form-control"
            placeholder="add user"
            name="user"
            [(ngModel)]="addTaskValue"
            required
          />
          <br>
          <div
            *ngIf="
              showValidators &&
              myForm.controls['user'].invalid &&
              myForm.controls['user'].touched
            "
            class="validator_error"
          >
            User is required.
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="add Email"
            name="email"
            [(ngModel)]="addEmailValue"
            required
          />
          <br>
          <input
            type="text"
            class="form-control"
            placeholder="add Name"
            name="name"
            [(ngModel)]="addNameValue"
            required
          />
          <br>
          <input
            type="text"
            class="form-control"
            placeholder="add Local"
            name="local"
            [(ngModel)]="addLocalValue"
            required
          />
          <br>
          <input
            type="text"
            class="form-control"
            placeholder="add Role"
            name="Role"
            [(ngModel)]="addRoleValue"
            required
          />
          <br>
          <input
            type="text"
            class="form-control"
            placeholder="add Phone"
            name="Phone"
            [(ngModel)]="addPhoneValue"
            required
          />
          <br>
          <div
            *ngIf="
              showValidators &&
              myForm.controls['email'].invalid &&
              myForm.controls['email'].touched
            "
            class="validator_error"
          >
            Email must be in the format: yourname@angular.com
          </div>
          <input
            type="password"
            class="form-control"
            placeholder="add password"
            name="pass"
            [(ngModel)]="addPassValue"
            required
            minlength="6"
          />
          <br>
          <div
            *ngIf="
              showValidators &&
              myForm.controls['pass'].invalid &&
              myForm.controls['pass'].touched
            "
            class="validator_error"
          >
            Password must be at least 6 characters long.
          </div>
        </form>
        <button
          class="btn btn2"
          type="button"
          (click)="addTask()"
          [disabled]="!myForm.valid"
        >
          <span>Add User</span>
        </button>
      <div class="error-from" *ngIf="showBackToHomeLink">
        More success do you want to come back? &nbsp;<a routerLink="/dashboard"
          >back to home →</a
        >
      </div>
      </main>
    </div>
  </div>