body {
    background: #4e88a5;
    font-family: arial;
  }
  .login-form h1 {
    font-size: 36px;
    text-align: center;
    color: #000;
    margin-bottom: 30px;
    font-weight: normal;
  }
  .login-form .social-icon {
      width: 100%;
      font-size: 20px;
      padding-top: 20px;
      color: #fff;
      text-align: center;
      float: left;
  }
  .login-form {
    background: #fff;
    width: 450px;
    border-radius: 6px;
    margin: 0 auto;
    display: table;
    padding: 35px 30px 30px;
    box-sizing: border-box;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .form-group {
    float: left;
    width: 100%;
    margin: 0 0 15px;
    position: relative;
  }
  .login-form input {
      width: 100%;
      padding: 5px;
      height: 56px;
      border-radius: 74px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      font-size: 15px;
      padding-left: 75px;
  }
  .login-form .form-group .input-icon {
      font-size: 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      position: absolute;
      border-radius: 25px;
      bottom: 0;
      height: 100%;
      padding-left: 35px;
      color: #666;
  }
  .login-form .login-btn {
        padding: 11px 50px;
        border-color: #0d6efd;
        color: #000;
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
        border: 1px solid #0d6efd;
        border-radius: 44px;
        width: 100%;
        height: 56px;
        cursor: pointer;
  }
  .login-form .reset-psw {
    float: left;
    width: 100%;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    text-align: center;
    margin-top: 11px;
  }
  .login-form .social-icon button {
      font-size: 20px;
      color: white;
      height: 50px;
      width: 50px;
      background: #45aba6;
      border-radius: 60%;
      margin: 0px 10px;
      border: none;
      cursor: pointer;
  }
  .login-form button:hover{
    opacity: 0.9;
  }
  .login-form .seperator {
    float: left;
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: center;
    margin: 50px 0 0;
  }
  .login-form .seperator b {
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
  }
  .login-form p {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 0 0 10px;
  }
  @media screen and (max-width:767px) {
  .login-form {
      width: 90%;
      padding: 15px 15px 30px;
  }
  }
  .error-message{
    color: red;
    padding: 12px;
    font-weight: 600;
  }
.lg-register{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  display: block;
}