<div class="container">
  <div class="py-5 text-center"></div>
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted cart-rowr">Your cart <p class="cartdata">{{ product.length }}</p></span>
        <span class="badge badge-secondary badge-pill"></span>
      </h4>
      <ng-container *ngFor="let item of product; let i = index">
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div class="card-cart">
              <img src="{{item.cover_image}}" alt="">
              <h6 class="my-0">{{ item.title }}</h6>
              <small class="text-muted">{{ item.product_code }}</small>
            </div>
            <span class="text-muted">{{ item.price }}</span><span>x{{item.quantity_oder}}</span>
            <button
            type="button"
            class="btn btn-primary btn-sm me-1 mb-2 removedata"
            data-mdb-toggle="tooltip"
            title="Remove item"
            (click)="removeItem(item)"
            >
            <i class="fas fa-trash"></i>
          </button>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <!-- Add more items here if needed -->
          </li>
        </ul>
      </ng-container>
      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing address</h4>
      <form class="needs-validation" novalidate [formGroup]="checkoutForm" (ngSubmit)="buynow()">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label>First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="firstName" formControlName="firstName" required>
            <div *ngIf="checkoutForm.controls.firstName.invalid && checkoutForm.controls.firstName.touched" class="error-message">
              cannot be left blank
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="lastName" formControlName="lastName" required>
            <div *ngIf="checkoutForm.controls.lastName.invalid && checkoutForm.controls.lastName.touched" class="error-message">
              cannot be left blank
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="phone">Phone <span class="text-muted">(obligatory)</span></label>
          <input type="text" class="form-control" id="phone" placeholder="phone" formControlName="phone" required>
        </div>
        <div *ngIf="checkoutForm.controls.phone.invalid && checkoutForm.controls.phone.touched" class="error-message">
          cannot be left blank
        </div>
        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="address" formControlName="address" required>
          </div>
          <div *ngIf="checkoutForm.controls.address.invalid && checkoutForm.controls.address.touched" class="error-message">
            cannot be left blank
          </div>
        <hr class="mb-4">

        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="credit">Deliver to home</label>
          </div>
        </div>
        <button class="btn btn-danger btn-lg btn-block" type="submit">Buy Now</button>
      <div class="">
        <hr class="mb-4">
      </div>
      </form>
    </div>
  </div>
</div>