<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3"  routerLink="/admin">Dashboard Admin</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" routerLink="/">Back To Website</a>
      </li>
    </ul>
  </nav>
  
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/admin">
                <i class="fa fa-tachometer-alt mr-2" ></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/add">
                <i class="fa fa-th mr-2"></i>
                Add User
              </a>
            </li>
            
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>
        </div>
  
        <h2>danh sách thành viên</h2>
        <div class="table-responsive"> 
          <div style="overflow-y: auto; height: 100%;">
            <div class="m-3" *ngFor="let task of taskArr">
                <div class="p-2 shadow border" id="tasks">
                    <div class="input-group row ps-3">
                        <div class="card col-md-10 border-0" > ID:&nbsp;{{task.id}} </div><br>
                        <div class="card col-md-10 border-0" > User:&nbsp;{{task.user}} </div><br>
                        <div class="card col-md-10 border-0"> Email:&nbsp;{{task.email}}</div><br>
                        <div class="card col-md-10 border-0"> name:&nbsp;{{task.name}}</div><br>
                        <div class="card col-md-10 border-0"> phone:&nbsp;{{task.phone}}</div><br>
                        <div class="card col-md-10 border-0"> localtion:&nbsp;{{task.local}}</div><br>
                        <div class="card col-md-10 border-0"> Password:&nbsp;{{task.pass}}</div>
                        <div class="card col-md-10 border-0"> administration:&nbsp;{{task.role}}</div>
                        <button class="btn btn-outline-primary col me-2" data-bs-toggle="modal" type="button"
                            data-bs-target="#exampleModal" (click)="call(task)">
                            <i class="fa-solid fa-user-pen"></i></button>
                        <div class="btn btn-outline-danger col" (click)="deleteTask(task)"><i
                                class="fa-solid fa-person-circle-minus"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            title="edit user"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="task">User:</label>
                            <br>
                            <span class="text-danger p-2">cannot be edited</span>
                            <input type="text" class="form-control" id="task" placeholder="Enter task"
                                name="task" [(ngModel)]="editTaskValue" readonly>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" id="email" placeholder="Enter email"
                                name="email" [(ngModel)]="editEmailValue">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="text" class="form-control" id="password" placeholder="Enter password"
                                name="password" [(ngModel)]="editPassValue">
                        </div>
                        <div class="form-group">
                            <label for="password">role:</label>
                            <input type="text" class="form-control" id="password" placeholder="Role"
                                name="password" [(ngModel)]="editRoleValue">
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success" type="button" data-bs-dismiss="modal"
                                (click)="editTask()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </main>
    </div>
  </div>