<section class="py-5">
  <a class="detail-bth" routerLink="/"
    ><i class="fa-regular fa-hand-point-left"></i> Back to home</a
  >
  <ng-container *ngFor="let book"></ng-container>
  <div *ngIf="book" class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img
          class="detail-image card-img-top mb-5 mb-md-0"
          [src]="book.cover_image"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <div class="small mb-1">Book Code: {{ book.product_code }}</div>
        <h1 class="display-5 fw-bolder">{{ book.title }}</h1>
        <div class="fs-5 mb-5">
          <span> {{ book.price}}<strong>VNĐ</strong></span>
        </div>
        <p class="lead">{{ book.description }}</p>
        <p>Quantity: {{ book.quantity }}</p>
        <div _ngcontent-mxx-c55="" class="d-flex mb-4" style="max-width: 300px">
          <div _ngcontent-mxx-c55="" class="form-outline">
            <input [(ngModel)]="quantity_oder" type="number" value="1" min="1" max="999">
            <label _ngcontent-mxx-c55="" for="form1" class="form-label"></label>
        </div>
        </div>
        <button class="btn btn-outline-dark flex-shrink-0" type="button" (click)=Addtocart(book)>
          <i class="bi-cart-fill me-1"></i>
          Add to cart
        </button>
      </div>
    </div>
    <div class="Description">Product Description</div>
    <p></p>
  </div>
</section>
