<div class="superNav border-bottom py-2 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
          <select  class="me-3 border-0 bg-light">
            <option value="en-us">EN</option>
            <option value="en-us">VN</option>
            <option value="en-us">KR</option>
          </select>
          <span class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"><strong>sondzk58@gmail.com</strong></span>
          <span class="me-3"><i class="fa-solid fa-phone me-1 text-warning"></i> <strong>0123-456-789</strong></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none d-lg-block d-md-block-d-sm-block d-xs-none text-end">
          <span class="me-3"><i class="fa-solid fa-truck text-muted me-1"></i><a class="text-muted" href="#">Shipping</a></span>
          <span class="me-3"><i class="fa-solid fa-file  text-muted me-2"></i><a class="text-muted" href="#">Policy</a></span>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="#"><i class="fa-solid fa-shop me-2"></i> <strong>BOOK SHOP</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
        <div class="input-group">
          <span class="border-warning input-group-text bg-warning text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
          <input type="text" class="form-control border-warning" style="color:#7a7a7a">
          <button class="btn btn-warning text-white">Search</button>
        </div>
      </div>
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <div class="ms-auto d-none d-lg-block">
          <div class="input-group">
            <span class="border-warning input-group-text bg-warning text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="form-control border-warning" style="color:#7a7a7a">
            <button class="btn btn-warning text-white">Search</button>
          </div>
        </div>
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="#">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="#">Catalog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="#">About</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto ">
            <div class="d-flex">
                <div *ngIf="!isLoggedIn" class="dropdown">
                    <button routerLink="/register" class="btn-register btn-light ms-3">Register</button>   
                    <button routerLink="/login" class="btn-login btn-light ms-3">Login</button>
                  </div>
                  <div *ngIf="isLoggedIn" class="header-login">
                    <form class="d-flex">
                        <div class="dropdown">
                            <a class="dropdown-btnn2"><i class="userclass fa fa-user"></i></a>
                            <div class="dropdown-content">
                                <a href="#">Hồ sơ</a>
                                <a href="#">Cài đặt</a>
                                
                                <button (click)="logout()" class="btn-logout btn-warning">Logout</button>
                            </div>
                        </div>      
                         <!-- <div *ngIf="isAdmin" class="admin">
                                  <a >administrators</a>
                                </div>             -->
                    </form>    
                                             
                    <form class="d-flex">
                        <div class="dropdown">
                            <a class="dropdown-btn"><i class="fa-solid fa-cart-shopping"></i></a>
                           <span class="quantity">{{totalItem}}</span>
                            <div class="dropdown-content">
                                <p><a routerLink="/cart">cart</a></p>
                                <p><a routerLink="/checkout" class="btn-logouts">Checkout</a></p>
                            </div>
                        </div>            
                    </form>
                    <form class="d-flex">
                        <div class="dropdown">
                            <a class="dropdown-btn"><i class="extension fa-solid fa-puzzle-piece"></i></a>
                        </div>            
                    </form>
                </div>
            </div>
        </ul>
      </div>
    </div>
  </nav>